<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vectoranimation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ChooserActivity" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".SharedElementTransition.ActivityB" />
        <activity android:name=".AnimatedClockActivity" />
        <!--<activity android:name=".AnimateTickToCross" />-->
        <activity android:name=".MainActivity" />
        <activity android:name=".NewActivity" />
        <activity android:name=".vector.VectorActivity" />
        <activity android:name=".SharedElementTransition.ActivityA" />
        <activity android:name=".bounceAnim.BounceActivity" />
        <activity android:name=".SharedElementTransition.BounceTransition" />
        <activity android:name=".SharedElementTransition.AnimationChooserActivity" />
        <!--<activity android:name=".TranistionContainerActivity" />-->
        <activity android:name=".TransitionChooser.TransitionContainerActivity" />
        <activity android:name=".TransitionChooser.TransitionChooser" />
        <activity android:name=".TransitionChooser.ShuffleActivity" />
        <activity android:name=".TransitionChooser.PathMotionActivity" />
        <activity android:name=".vector.VectorChooserActivity" />
        <activity android:name=".vector.VectorMainActivity" />
        <activity android:name=".vector.PathMorphActivity" />
        <activity android:name=".vector.RotateActivity" />
        <activity android:name=".vector.FillInHeartActivity" />

    </application>

</manifest>